@font-face {
  font-family: Biondi;
  src: url('../fonts/biondi.ttf'); /* IE9 Compat Modes */
}

#kont{
	padding-left: 0px;
	padding-right: 0px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 48.5%;
    transform: translate(-50%, -48.5%);
}

.main_title{
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main_title h1{
	color: #af9258;
	padding-bottom: 5px;
	font-family: 'Playfair Display', serif;
}

.main_title h2{
	color: black;
	font-family: 'Playfair Display', serif;
    line-height: 20px !important;
}

#underline{
	background-color: #af9258;
	height: 2px;
	margin-bottom: 25px;
}

.main_title p{
	color:black;
	font-size: 17px;
	line-height: 30px;
	font-family: 'Playfair Display', serif;
}

.text h1{
	font-size: 2.1rem;
	margin-bottom: 5px;
	padding-top: 10px;
	font-family: 'Playfair Display', serif;
}

.text h2{
	font-size: 0.80rem;
	font-family: 'Playfair Display', serif;
	line-height: 25px;
}

#smaller-than-xl{
	width: 94%;
	margin-left: 3%;
}

#carouselExampleSlidesOnly{
	margin-bottom: 5px;
}