*{
	margin: 0px;
	padding: 0px;
}

#form-row{
	height: 100vh;
	display: flex;              
	align-items: center; 
}



@media (min-width: 544px) { 

	#form-row{
		height: 100vh;
		display: flex;              
		align-items: center; 
	}

}


@media (min-width: 768px) {

	#form-row{
		height: 100vh;
		display: flex;              
    	align-items: center; 
	}

}


@media (min-width: 992px) { 

	#form-row{
		height: 100vh;
		display: flex;              
    	align-items: center; 
	}

}



@media (min-width: 1200px) {

	#form-row{
		height: 100vh;
		display: flex;              
    	align-items: center; 
	}

	#form-row button{
		width: 150px;
		height: 40px;
		background: #fff;
		color: #000;
		border: 1px solid #000;
	}

	#form-row button:hover{
		background: #000;
		color: #fff;
	}

}