@font-face {
  font-family: Biondi;
  src: url('../fonts/biondi.ttf'); /* IE9 Compat Modes */
}

#main-container .row{
	margin-bottom: 15px;
}

#line{
    width: 50px;
    border-top: 1px solid #000;
  }

  #line1{
    width: 80px;
    border-top: 1px solid #000;
  }

#category-name{
	margin-left: 10px;
	margin-bottom: 20px;
  margin-top: 30px;
  font-family: 'Playfair Display', serif;
}

#category-name h3{
	color:black;
}

#category-name h3 i{
  font-family: 'Playfair Display', serif;
}

.img-fluid:hover{
	cursor:pointer;
}

.img-fluid{
		margin-bottom: 15px;
	}

.star {
    visibility: hidden;
    }

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

.first-fade{
	opacity: 0;
	transition: 1.5s;
}

.second-fade{
	opacity: 0;
	transition: 3s;
}

#holder{
	position: relative;
	display: flex;
  	align-items: center;
}

.cover{
	transition:.4s ease;
	opacity: 0;
	text-align: center;
	background-color: white;
	position: absolute;
	top:49%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 85%;
	height: 60%;
	display: flex;
  	align-items: center;
}

.cover:hover{
	cursor: pointer;
}

#holder:hover .cover{
	opacity: 0.7;
}

.cover h1 {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 108px; /* Fallback for non-webkit */
  margin: 0 auto;	
  font-size: 25px;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 10px;
  margin-top: 30px;
}

.cover p{
	font-size: 32px;
	position: absolute;
	top: 62%;
	left: 43%;
	font-family: 'Nunito', sans-serif;
}
.cover a{
  font-size: 27px;
}
#category-name h3{
  font-family: 'Nunito', sans-serif;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

@media (min-width: 544px) { 

  #line{
    width: 70px;
    border-top: 1px solid #000;
  }

  #line1{
    width: 100px;
    border-top: 1px solid #000;
  }

.col-xs-5ths{
		width: 50%;
        float: left;
	}
  .cover p{
  position: absolute;
  top: 61%;
  left: 43%;
}
.cover a{
  font-size: 26px;
}
}
@media (min-width: 768px) {

  #line{
    width: 70px;
    border-top: 1px solid #000;
  }

  #line1{
    width: 120px;
    border-top: 1px solid #000;
  }

.col-sm-5ths {
        width: 50%;
        float: left;
    }
      .cover p{
  position: absolute;
  top: 61%;
  left: 43%;
}
.cover a{
  font-size: 32px;
}
}
@media (min-width: 992px) {

    #line{
    width: 80px;
    border-top: 1px solid #000;
  }

  #line1{
    width: 130px;
    border-top: 1px solid #000;
  }

    .col-md-5ths {
        width: 20%;
        float: left;
    }
          .cover p{
  position: absolute;
  top: 63%;
  left: 41%;
}
.cover a{
  font-size: 25px;
}
}

@media (min-width: 1200px) {
    
  #line{
    width: 100px;
    border-top: 1px solid #000;
  }

  #line1{
    width: 160px;
    border-top: 1px solid #000;
  }

    .col-lg-5ths {
        width: 20%;
        float: left;
    }

.cover a{
  font-size: 28px;
}
      .cover p{
  position: absolute;
  top: 64%;
  left: 42%;
}
}
@media (min-width: 1500px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }

  .cover a{
  font-size: 27px;
  }
  .cover h1{
    line-height: 1.2;
    height: 125px;
  }
      .cover p{
  position: absolute;
  top: 61%;
  left: 42%;
}
}