*{
	margin: 0px;
	padding: 0px;
}

#con{
	background: #fff;
}

#logo{
	font-weight: 600;
	min-height: 80px;
	line-height: 70px;
}

#navbarNavDropdown li{
  	font-size: 1rem;
	font-family: 'Playfair Display', serif;
	color: #a29791;
}

#navbarNavDropdown li input[type="search"]{
	width: 50%;
	margin-left: 25%;
}

#fa{
	text-align: center;
	margin-bottom: 10px;
}

#fa a{
	color: #000;
	margin-left: 15px;
}

#contact-row{
		min-height: 70vh;
		padding-top: 70px;
		padding-bottom: 30px;
	}

	#contact-row input{
		font-family: 'Playfair Display', serif;
	}

	#contact-row label{
		#contact-row input
	}

	#exampleInputEmail{
		margin-top: -15px;
	}

	#sub-label{
		margin-top: 15px;
	}

	#mess-label{
		margin-top: 15px;
	}

	#contact-row button{
		width: 150px;
		margin-top: 20px;
		margin-bottom: 15px;
		background: #000;
		color: #fff;
		border:1px solid #000;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#contact-row button:hover{
		background: #fff;
		color: #000;
	}

	#emailHelp{
		font-family: 'Playfair Display', serif;
	}

#row-footer p{
	text-align: center;
	color: #a29791;
	font-family: 'Playfair Display', serif;
}

#footer-p{
	margin-top: 15px;
}




/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  


#logo{
  	font-size:1.5rem;
  	font-weight: 600;
  	min-height: 110px;
	line-height: 90px;
  	} 

  	#navbarNavDropdown li{
  		font-size: 1rem;
		font-family: 'Playfair Display', serif;
	}

	#fa{
		text-align: right;
	}

	#fa a{
		color: #000;
		margin-left: 15px;
	}

	#contact-row{
		min-height: 70vh;
		padding-top: 70px;
		padding-bottom: 30px;
	}

	#contact-row input{
		font-family: 'Playfair Display', serif;
	}

	#exampleInputEmail{
		margin-top: -15px;
	}

	#sub-label{
		margin-top: 15px;
	}

	#mess-label{
		margin-top: 15px;
	}

	#contact-row button{
		width: 150px;
		margin-top: 20px;
		margin-bottom: 15px;
		background: #000;
		color: #fff;
		border:1px solid #000;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#contact-row button:hover{
		background: #fff;
		color: #000;
	}









	#row-footer p{
		text-align: center;
	}

	#footer-p{
		margin-top: 15px;
	}



}




/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 

#logo {
  	font-size:2rem;
  	font-weight: 600;
  	min-height: 130px;
	line-height: 110px;
  	} 

  	#navbarNavDropdown li{
  		font-size: 1rem;
		font-family: 'Playfair Display', serif;
	}

	#fa{
		text-align: right;
	}

	#contact-row{
		min-height: 70vh;
		padding-top: 70px;
		padding-bottom: 30px;
	}

	#exampleInputEmail1{
		margin-top: -7px;
	}

	#contact-row input{
		font-family: 'Playfair Display', serif;
	}

	#contact-row label{
		#contact-row input
	}

	#sub-label{
		margin-top: 15px;
	}

	#mess-label{
		margin-top: 15px;
	}

	#contact-row button{
		width: 150px;
		margin-top: 20px;
		margin-bottom: 15px;
		background: #000;
		color: #fff;
		border:1px solid #000;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#contact-row button:hover{
		background: #fff;
		color: #000;
	}

	#row-footer p{
		text-align: left;
	}

	#footer-p{
		margin-top: 0px;
	}



}






/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 


	#logo {
	  	font-size:2.5rem;
	  	font-weight: 600;
	  	min-height: 150px;
		line-height: 130px;
  	} 

  	#navbarNavDropdown li{
  		font-size: 1rem;
		font-family: 'Playfair Display', serif;
	}

	#navbarNavDropdown li input[type="search"]{
		width: 100%;
		margin-left: 0%;
	}

	#fa{
		text-align: right;
	}

	#contact-row{
		min-height: 70vh;
		padding-top: 70px;
		padding-bottom: 30px;
	}

	#exampleInputEmail1{
		margin-top: -7px;
	}

	#contact-row input{
		font-family: 'Playfair Display', serif;
	}

	#contact-row label{
		font-family: 'Playfair Display', serif;
	}

	#sub-label{
		margin-top: 15px;
	}

	#mess-label{
		margin-top: 15px;
	}

	#contact-row button{
		width: 150px;
		margin-top: 20px;
		background: #000;
		color: #fff;
		border:1px solid #000;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#contact-row button:hover{
		background: #fff;
		color: #000;
	}

	#row-footer p{
		text-align: left;
	}

	#footer-p{
		margin-top: 0px;
	}



}






/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  


	#logo{
	  	font-size:3.5rem;
	  	font-weight: 600;
	  	min-height: 130px;
		line-height: 110px;
  	} 

  	#navbarNavDropdown li{
  		font-size: 1rem;
		font-family: 'Playfair Display', serif;
	}

	#navbarNavDropdown li input[type="search"]{
		width: 100%;
		margin-left: 0%;
	}

	#fa{
		text-align: right;
	}

	#contact-row{
		min-height: 70vh;
		padding-top: 70px;
		padding-bottom: 30px;
	}

	#contact-row input{
		font-family: 'Playfair Display', serif;
	}

	#contact-row label{
		#contact-row input
	}

	#exampleInputEmail1{
		margin-top: -7px;
	}

	#exampleInputEmail{
		margin-top: 0px;
	}

	#sub-label{
		margin-top: 15px;
	}

	#mess-label{
		margin-top: 15px;
	}

	#contact-row button{
		width: 150px;
		margin-top: 20px;
		margin-bottom: 15px;
		background: #000;
		color: #fff;
		border:1px solid #000;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#contact-row button:hover{
		background: #fff;
		color: #000;
	}

	#row-footer p{
		text-align: left;
	}

	#footer-p{
		margin-top: 0px;
	}



}