*{
	margin: 0px;
	padding: 0px;
}

	#emailz{
		margin-top: 83px;
	}

#post{
		margin-top: 30px;
	}

	#trend{
		margin-top: 40px;
	}

	#delete{
		margin-top: 40px;
	}

	#subs{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#sub-table{
		margin-top: 30px;
	}


@media (min-width: 544px) { 

	#post{
		margin-top: 30px;
	}

	#trend{
		margin-top: 50px;
	}

	#delete{
		margin-top: 50px;
	}

}


@media (min-width: 768px) {

	#post{
		margin-top: 0px;
	}

	#trend{
		margin-top: 0px;
	}

	#delete{
		margin-top: 0px;
	}


}


@media (min-width: 992px) { 

	#post{
		margin-top: 0px;
	}

	#trend{
		margin-top: 0px;
	}

	#delete{
		margin-top: 0px;
	}


}


@media (min-width: 1200px) {

	#form{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#post{
		margin-top: 0px;
	}

	#trend{
		margin-top: 0px;
	}

	#delete{
		margin-top: 0px;
	}

}