@font-face {
  font-family: Biondi;
  src: url('../fonts/biondi.ttf'); /* IE9 Compat Modes */
}

#row-footer{
	padding-top: 20px;
	padding-bottom: 10px;
}

#row-footer i{
	margin-left: 10px;
}

#row-footer p{
	text-align: center;
	color: #a29791;
}

#footer-p{
	margin-top: 15px;
	font-family: 'Playfair Display', serif;
}

#footer-p p{
	font-family: 'Playfair Display', serif;
}

#footer-p a{
	text-decoration: none;
	color: #a29791;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}

#footer-p a:hover{
	color: #000;
}



/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  

	#row-footer p{
	text-align: center;
	}

	#footer-p{
		margin-top: 15px;
	}











  	/*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  	

	#row-footer p{
		text-align: left;
	}

	#footer-p{
		margin-top: 0px;
	}







  	/*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 

	#row-footer p{
		text-align: left;
	}

	#footer-p{
		margin-top: 0px;
	}

	#footer-p p{
		font-family: 'Playfair Display', serif;
	}







  	/*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
 

	#row-footer p{
		text-align: left;
	}

	#footer-p{
		margin-top: 0px;
	}

	#footer-p p{
		font-family: 'Playfair Display', serif;
	}






  	/*1rem = 16px*/    
}
