*{
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family: Biondi;
  src: url('../fonts/biondi.ttf'); /* IE9 Compat Modes */
}

#soc-container{
	padding-top: 10px;
	padding-bottom: 5px;
}

#soc-box a{
	color: #000;
	margin-right: 14px;
	font-size: 20px;
}

#slider{
	display: none;
}

#image-t{
	display: block;
}

#image-t img{
	width: 100%;
}

.parent{
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.parent img{
	width: 100%;
}

.hover{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	color: #fff !important;
	text-align: center;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; 
    text-decoration: none !important;
    font-size: 35px;
}

#sub-container-fluid{
	padding: 0px;
}

#post-row{
	padding-top: 30px;
	padding-bottom: 30px;
}

#subscribe{
	font-family: Biondi;
}

#subscribe input{
	background: #eeedf3;
	width: 100%;
	height: 40px;
	font-family: 'Playfair Display', serif;
	border: none;
	text-indent: 10px;
	font-size: 14px;
}	

#subscribe button{
	background: #fff;
	border: 2px solid #eeedf3;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 5px;
	border-radius: 0px;
	font-size: 12px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	font-family: 'Playfair Display', serif;
}

#subscribe button:hover{
	background: #eeedf3;
	border: 2px solid #dadada;
}

#soc-icon{
	display: none;
}

#first-icon{
	margin-left: 0px;
}

#trend{
	margin-top: 45px;
	font-family: 'Playfair Display', serif;
}

#now-tre{
	display: block;
}

#trend-line{
		width: 50%;
		border-top: 1px solid #000;
		margin-left: 25%;
		margin-bottom: 10px;
	}

#insta{
	margin-top: 30px;
}

#now-p{
	font-family: 'Playfair Display', serif;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  

  	#subscribe input{
		background: #eeedf3;
		width: 100%;
		height: 40px;
		border: none;
		text-indent: 10px;
		font-size: 14px;
	}	

	#subscribe button{
		background: #fff;
		border: 2px solid #eeedf3;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 5px;
		border-radius: 0px;
		font-size: 12px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#subscribe button:hover{
		background: #eeedf3;
		border: 2px solid #dadada;
	}

	#trend{
		margin-top: 45px;
	}

	#trend-line{
		width: 40%;
		border-top: 1px solid #000;
		margin-left: 30%;
		margin-bottom: 10px;
	}

	#insta{
		margin-top: 30px;
	}


}
 




/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	
	#subscribe{
		margin-top: 30px;
	}

	#subscribe input{
		background: #eeedf3;
		width: 100%;
		height: 40px;
		border: none;
		text-indent: 10px;
		font-size: 14px;
	}	

	#subscribe button{
		background: #fff;
		border: 2px solid #eeedf3;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 5px;
		border-radius: 0px;
		font-size: 12px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#subscribe button:hover{
		background: #eeedf3;
		border: 2px solid #dadada;
	}

	#trend-line{
		width: 180px;
		border-top: 1px solid #000;
		margin-left: 15px;
		margin-bottom: 10px;
	}

	#trend{
		margin-top: 20px;
	}

  	/*1rem = 16px*/
}




@media (min-width: 769px) and (max-width: 991px){

	#soc-icon{
		display: none;
	}

}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	#slider{
		display: block;
	}

	#image-t{
		display: none;
	}

	#soc-container{
		display: none;
	}

	#slider{
		display: block;
	}

	#one{
		display: none;
	}

	#two{
		display: none;
	}

	#three{
		display: none;
	}

	#four{
		display: none;
	}

	#subscribe input{
		background: #eeedf3;
		width: 100%;
		height: 40px;
		border: none;
		text-indent: 10px;
		font-size: 14px;
	}	

	#subscribe button{
		background: #fff;
		border: 2px solid #eeedf3;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 5px;
		border-radius: 0px;
		font-size: 14px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#subscribe button:hover{
		background: #eeedf3;
		border: 2px solid #dadada;
	}

	#soc-icon{
		display: block;
		margin-top: 20px;
	}

	#soc-icon a{
		color: #000;
		margin-left: 15px;
	}

	#now-tre{
	display: block;
}

	#trend-line{
		width: 180px;
		border-top: 1px solid #000;
		margin-left: 55px;
	}


  	/*1rem = 16px*/
}




 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#slider{
		display: block;
		margin-bottom: 0px;
	}

	#one{
		height: 100vh;
	}

	#two{
		height: 100vh;
	}

	#three{
		height: 100vh;
	}

	#four{
		height: 100vh;
	}

	#button{
		margin-left: 30px;
	}

	#post-row{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#subscribe{
		margin-top: 30px;
	}

	#subscribe input{
		background: #eeedf3;
		width: 100%;
		height: 40px;
		border: none;
		text-indent: 10px;
		font-size: 14px;
	}	

	#subscribe button{
		background: #fff;
		border: 2px solid #eeedf3;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 5px;
		border-radius: 0px;
		font-size: 14px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#subscribe button:hover{
		background: #eeedf3;
		border: 2px solid #dadada;
	}

	#trend-line{
		width: 180px;
		border-top: 1px solid #000;
		margin-left: 85px;
		margin-bottom: 15px;
	}

	#soc-icon{
		margin-top: 20px;
	}

	#soc-icon a{
		color: #000;
		margin-left: 15px;
	}

  	/*1rem = 16px*/    
}
