*{
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family: Biondi;
  src: url('../fonts/biondi.ttf'); /* IE9 Compat Modes */
}

#line{
	  width: 60px;
	  border-top: 1px solid #000;
	}

.video{
	width: 100%;
}

#video-padd{
	width: 92%;
	margin-left: 4%;
	padding-bottom: 30px;
}

.classWithPad{
	margin-top: 15px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 15px;
}

#category-name{
	margin-left: 10px;
	margin-bottom: 20px;
  	margin-top: 30px;
  	font-family: 'Playfair Display', serif;
	}

#category-name h3 i{
  font-family: 'Playfair Display', serif;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) { 

	#line{
	  width: 60px;
	  border-top: 1px solid #000;
	}

	.classWithPad{
		margin-left: 0px;
		margin-bottom: 0px;
		padding-bottom: 15px;
	}

}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 

	#line{
	  width: 90px;
	  border-top: 1px solid #000;
	}

	#video-padd{
		width: 92%;
		margin-left: 4%;
		padding-bottom: 30px;
	}

	.classWithPad{
		margin-left: 15px;
		margin-bottom: 0px;
		padding-bottom: 15px;
	}

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	#line{
	  width: 100px;
	  border-top: 1px solid #000;
	}

	#video-padd{
		width: 92%;
		margin-left: 4%;
		padding-bottom: 30px;
	}

	.classWithPad{
		margin: 15px;
		margin-bottom: 0px;
		padding-bottom: 15px;
	}

}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#line{
	  width: 120px;
	  border-top: 1px solid #000;
	}

	#video-padd{
		width: 96%;
		margin-left: 2%;
		padding-bottom: 30px;
	}

	.video{
		width: 100%;
	}

	.classWithPad{
		margin: 15px;
		margin-bottom: 0px;
		padding-bottom: 15px;
	}

}