*{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Biondi;
  src: url('../fonts/biondi.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: Times;
  src: url('../fonts/Times Eighteen.ttf'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

#con{
  padding-bottom: 10px;
}


#logo{
  font-size:1.5rem;
  min-height: 50px;
  line-height: 50px;
 font-family: 'Playfair Display', serif;
  color: #000;
}

#fashion-syilist{
  position: absolute;
  left: 15px;
  bottom: 3px;
  color: #000;
   font-family: 'Playfair Display', serif;
   font-size: 16px;
   display: block;
}

#navbarNavDropdown li{
  font-size: .9rem;
  font-family: 'Didact Gothic', sans-serif;
}

#navbarNavDropdown li a{
  color: #a29791;
}

#navbarNavDropdown li input[type="search"]{
  width: 50%;
  margin-left: 25%;
}

#fa{
  text-align: center;
  margin-bottom: 20px;
}

#fa a{
  color: #000;
  margin-left: 15px;

}






@media (min-width: 544px) { 

	#logo{
    font-size:1.5rem;
    min-height: 60px;
  line-height: 60px;
    } 

    #fashion-syilist{
      position: absolute;
      left: 15px;
      bottom: 3px;
      color: #000;
       display: block;
       font-size: 16px;
    }

    #navbarNavDropdown li{
      font-size: .9rem;
    font-family: 'Didact Gothic', sans-serif;
  }

  #fa{
    text-align: right;
  }

  #fa a{
    color: #000;
    margin-left: 15px;
  }


}


@media (min-width: 768px) { 

	#logo {
    font-size: 1.4rem;
    min-height: 70px;
  line-height: 70px;
    } 

     #fashion-syilist{
      position: absolute;
      left: 15px;
      bottom: 20px;
      color: #000;
       display: block;
    }

    #navbarNavDropdown li{
      font-size: .9rem;
  font-family: 'Didact Gothic', sans-serif;
  }

  #fa{
    text-align: right;
  }




}


@media (min-width: 992px) { 

  #border{
    padding-bottom: 15px;
  }

  #full-width-nav{
    background: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
  }

	#logo {
    font-size:1.8rem;
    min-height: 90px;
  line-height: 90px;
  color: #fff;
    } 

     #fashion-syilist{
      position: absolute;
      left: 133px;
      bottom: 20px;
      color: #fff;
       display: block;
       font-size: 15px;
    }

    #navbarNavDropdown li{
      font-size: 1.1rem;
   font-family: 'Didact Gothic', sans-serif;
  }

  #navbarNavDropdown li a{
    color: #fff;
  }

  #navbarNavDropdown li input[type="search"]{
    width: 100%;
    margin-left: 0%;
  }

  #fa{
    text-align: right;
  }



}


@media (min-width: 1200px) { 

  #border{
    padding-bottom: 15px;
  }

  #full-width-nav{
    background: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
  }

	#logo{
    font-size:2.8rem;
    min-height: 120px;
  line-height: 120px;
    }

    #fashion-syilist{
      position: absolute;
     left: 215px;
      bottom: 20px;
      color: #fff;
       display: block;
       font-size: 20px;
    }


    #navbarNavDropdown li{
      font-size: 1.2rem;
    font-family: 'Didact Gothic', sans-serif;
  }

  #navbarNavDropdown li a{
    color: #fff;
  }

  #navbarNavDropdown li a:hover{
    color: #c5c5c5;
  }

  #navbarNavDropdown li input[type="search"]{
    width: 100%;
    margin-left: 0%;
  }

  #fa{
    text-align: right;
  }



}