*{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Biondi;
  src: url('../fonts/biondi.ttf'); /* IE9 Compat Modes */
}

#border{
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}

#con{
  background: #fff;
  padding-bottom: 10px;
}

@font-face {
  font-family: Times;
  src: url('../fonts/Times Eighteen.ttf'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

#logo{
  font-size:1.5rem;
  font-weight: 400;
  min-height: 50px;
  line-height: 50px;
  font-family: 'Playfair Display', serif;
}

#fashion-syilist{
  position: absolute;
  left: 15px;
  bottom: 3px;
  color: #000;
  font-family: 'Playfair Display', serif;
   font-size: 16px;
   display: block;
}


#navbarNavDropdown li{
    font-size: .9rem;
  font-family: 'Didact Gothic', sans-serif;
  color: #a29791;
}

#navbarNavDropdown li input[type="search"]{
  width: 50%;
  margin-left: 25%;
}

#fa{
  text-align: center;
  margin-bottom: 20px;
}

#fa a{
  color: #000;
  margin-left: 15px;

}






@media (min-width: 544px) { 

	#logo{
    font-size:1.5rem;
    font-weight: 600;
    min-height: 60px;
  line-height: 60px;
    } 

    #fashion-syilist{
  position: absolute;
  left: 15px;
  bottom: 3px;
  color: #000;
   font-size: 16px;
   display: block;
}

    #navbarNavDropdown li{
      font-size: .9rem;
       font-family: 'Didact Gothic', sans-serif;
  }

  #fa{
    text-align: right;
  }

  #fa a{
    color: #000;
    margin-left: 15px;
  }


}


@media (min-width: 768px) { 

	#logo {
    font-size: 1.4rem;
    font-weight: 600;
    min-height: 70px;
  line-height: 70px;
    } 

    #fashion-syilist{
  position: absolute;
  left: 15px;
  bottom: 10px;
  color: #000;
   font-size: 12px;
   display: block;
}

    #navbarNavDropdown li{
      font-size: .9rem;
     font-family: 'Didact Gothic', sans-serif;
  }

  #fa{
    text-align: right;
  }




}


@media (min-width: 992px) { 

  #border{
    padding-bottom: 15px;
  }

	#logo {
    font-size:1.8rem;
    font-weight: 600;
    min-height: 90px;
  line-height: 90px;
    } 

    #fashion-syilist{
  position: absolute;
  left: 133px;
  bottom: 20px;
  color: #000;
   font-size: 15px;
   display: block;
}

    #navbarNavDropdown li{
      font-size: 1.1rem;
       font-family: 'Didact Gothic', sans-serif;
  }

  #navbarNavDropdown li input[type="search"]{
    width: 100%;
    margin-left: 0%;
  }

  #fa{
    text-align: right;
  }



}


@media (min-width: 1200px) { 

  #border{
    padding-bottom: 15px;
  }

	#logo{
    font-size:2.8rem;
    font-weight: 600;
    min-height: 120px;
  line-height: 120px;
    } 

    #fashion-syilist{
  position: absolute;
  left: 215px;
  bottom: 20px;
  color: #000;
   font-size: 20px;
   display: block;
}

    #navbarNavDropdown li{
      font-size: 1.2rem;
      font-family: 'Didact Gothic', sans-serif;;
  }

  #navbarNavDropdown li input[type="search"]{
    width: 100%;
    margin-left: 0%;
  }

  #fa{
    text-align: right;
  }



}