/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h2 {font-size:0.6rem;
  	line-height: 1.4rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h2 {font-size:0.8rem;
  	line-height: 1.6rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h2 {font-size:1rem;
  	line-height: 1.7rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h2 {font-size:1.3rem;
  	line-height: 1.9rem;} /*1rem = 16px*/

}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
    #submenu_name{
	height: 40px;
	margin-top: -25px;
	position: absolute;
	z-index: 1010;
}	
	#submenu_name h3{
		font-size: 1.1rem;
		margin-top: 10px;
	}
	.img-fluid{
		margin-bottom: 15px;
	}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:1.7rem;} /*1rem = 16px*/

  #submenu_name{
	height: 40px;
	margin-top: -25px;
	position: absolute;
	z-index: 1010;
}
	#submenu_name h3{
		font-size: 1.7rem;
		margin-top: 2px;
		}
	.img-fluid{
		margin-bottom: 15px;
	}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:1.9rem;} /*1rem = 16px*/

   #submenu_name{
	height: 50px;
	margin-top: -15px;
	position: absolute;
	z-index: 1010;
}
	#submenu_name h3{
		margin-top: 5px;
		font-size: 1.9rem;
		}
	.img-fluid{
		margin-bottom: 15px;
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:2.4rem;} /*1rem = 16px*/
   #submenu_name{
	height: 50px;
}
#submenu_name h3{
		font-size: 2.4rem;
		margin-top: 0;
		}
			.img-fluid{
		margin-bottom: 15px;
	}
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 300px) {  
  h3 {font-size:1.20rem;} /*1rem = 16px*/
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h3 {font-size:1.45rem;} /*1rem = 16px*/
      .cover h1{
    font-size: 25px;
  	line-height: 1.3;
  	height: 110px;
  	font-family: 'Nunito', sans-serif;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h3 {font-size:1.8rem;} /*1rem = 16px*/
    .cover h1{
    font-size: 30px;
  	line-height: 1.3;
  	height: 127px;
  	font-family: 'Nunito', sans-serif;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h3 {font-size:2.0rem;} /*1rem = 16px*/
  .cover h1{
    font-size: 30px;
  	line-height: 1.1;
  	height: 109px;
  	margin-bottom: 15px;
  	font-family: 'Nunito', sans-serif;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h3 {font-size:2.1rem;} /*1rem = 16px*/
    .cover h1{
    font-size: 35px;
  	line-height: 1.2;
  	height: 140px;
  	margin-bottom: 25px;
  	font-family: 'Nunito', sans-serif;
  }
}

@media (min-width: 1500px) {
	h3 {font-size:2.5rem;}
	.cover h1{
    font-size: 33px;
  	line-height: 1.2;
  	height: 120px;
  	margin-bottom: 30px;
  	font-family: 'Nunito', sans-serif;
  }
}