*{
    margin: 0px;
    padding: 0px;
}

#carosel-slider{
    margin-top: 30px;
    margin-bottom: 30px; 
}

#post p{
	margin-top: 30px;
	text-indent: 20px;
	font-family: 'Playfair Display', serif;
}

#post h1{
	font-size: 30px;
	margin-bottom: 20px;
	font-family: 'Playfair Display', serif;
}

.w-100{
	width: 75% !important;
	margin-left:12.5%;
	margin-top: 20px;
}

.carousel-control-next {
    right: -3%;
}

.carousel-control-prev {
    left: -3%;
}

.carousel-control-next span{
	padding: 22px;
	color:white;
	background-color: rgb(197,197,197);
}

.carousel-control-prev span{
	padding: 22px;
	color:white;
	background-color: rgb(197,197,197);
}

@media (min-width: 300px) {  
.carousel-control-prev {
	left:-7%;
	}
.carousel-control-next {
	right: -7%;
	}
}

@media (min-width: 544px) {  
.carousel-control-prev {
	left:-6%;
	}
.carousel-control-next {
	right: -6%;
	}
}
@media (min-width: 768px) { 
	.carousel-control-prev {
	left:-10%;
	}
.carousel-control-next {
	right: -10%;
	}
}
	}